<div id="rate-limit-banner" class="rate-limit-hidden">
    <div class="banner-content">
        <span>Muitas requisições. Aguarde o tempo: </span>
        <span id="timer-count">--:--</span>
    </div>
</div>