/* #newsletter:target {
  animation: highlight 1.5s ease;
} */

.newsletter-active {
    animation: highlight 1.5s ease;
}


@keyframes highlight {
    0% { transform: scale(1);}
    50% { transform: scale(1.05);}
    100% { transform: scale(1);}
}