.login-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* padding: 120px 20px 60px; */
    max-height: 80dvh;
    
}

.login-card {
    background-color: var(--white);
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 24px;
    box-shadow: var(--shadow-md);
    border: 1px solid rgba(0,0,0,0.03);
}

.auth-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--text-main);
    margin-bottom: 8px;
    text-align: center;
}


.auth-title span {
    color: var(--primary);
}

.auth-subtitle {
    color: var(--text-muted);
    text-align: center;
    font-size: 0.95;
    margin-bottom: 32px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 8px;
    color: var(--text-main);
}

.input-wrapper {
    position: relative;
}

.input-wrapper i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-muted);
    font-size: 1rem;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border-radius: var(--radius-lg);
    border: 1px solid #e2e8f0;
    outline: none;
    transition: all 0.3s ease;
}

.input-wrapper input:focus {
    border-color: var(--primary);
    background-color: var(--white);
    box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.1);
}

.btn-login {
    width: 100%;
    background-color: var(--primary);
    color: white;
    padding: 14px;
    border: none;
    border-radius: var(--radius-lg);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.btn-login:hover {
    background-color: var(--primary-hover);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.2);
}

.login-footer {
    margin-top: 24px;
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-muted);
}


.login-footer a {
    color: var(--accent);
    /* text-decoration: none; */
    font-weight: 700;
    transition: color .3s ease;
}

.login-footer a:hover {
    color: var(--primary);
}


@media screen and (max-width: 760px) {
    .auth-title{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .login-container{
        margin-top: 30px;
    }
    .login-card {
        padding: 20px;
    }

    .input-wrapper input {
        font-size: 1rem;
        padding: 16px 15px 16px 45px;
    }

    .btn-login {
        font-size: 1rem;
        padding: 16px;
    }
}